---
layout: page
full-width: true
cover-img: "assets/img/SBC25-Banner.png"
---
<!-- Homepage HTML -->
<style>
  .banner {
    position: relative;
    text-align: left;
    margin-top: -70px;
    overflow: hidden;
  }
  .banner-img {
    width: 100%;
  }
  .center-container {
        display: flex;
        justify-content: left;
    }
  .styled-button {
        font-family: Inter, sans-serif;
        font-size: 16px;
        padding: 15px 24px;
        width: 250px;
        background-color: #ffbc03e4;
        color: black;
        border: solid 0.5px #30303060;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
  .styled-button:hover {
      background-color: #DCBF72;
  }
  .button-row-container {
    display: flex;
    justify-content: left;
  }
  .sponsors {
    overflow: hidden;
  }
  .sponsors > img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;
  }
  /* Allows for website URL to appear while hovering over sponsors */
  .sponsors:hover::after {
    content: attr(href);
    font-size: 80%;
    display: block;
    position: absolute;
    transform: translateY(-100%);
    color: black;
    background-color: white;
    outline: gray solid 1px;
    z-index: 9999; /* Ensure the tooltip appears on top */
    pointer-events: none;
    padding: 4px 6px;
  }
</style>
<div class="banner-img">
  <img src="assets/img/SBC25-Banner.png" alt="Banner Image" class="banner-img">
</div>
<p style="text-align: left; font-size: 1rem; margin-top: 20px; margin-bottom: 20px;">
  Announcing the <b>Science of Blockchain Conference (SBC) 2025</b>, co-organized by
  <b><a href="https://www.initc3.org/">IC3</a></b>,
  <b><a href="https://cbr.stanford.edu">Stanford Center for Blockchain Research</a></b>, and
  <b><a href="https://rdi.berkeley.edu/">UC Berkeley RDI</a></b>.
</p>
<p style="text-align: left; font-size: 1rem; margin-top: 20px; margin-bottom: 20px;">
  The conference focuses on technical innovations in the blockchain ecosystem and brings together researchers and practioners working in the space. We are interested in the application of cryptography, decentralized protocols, formal methods, and empirical analysis to improving the security and scalability of blockchain deployments. We aim to foster collaboration among practitioners and researchers working on blockchain protocol development, cryptography, distributed systems, secure computing, crypto-economics, and economic risk analysis.
</p>
<p style="text-align: left; font-size: 1rem; margin-top: 20px; margin-bottom: 20px;">
  <b>When:</b> August 3-7, 2025<br>
  <b>Where:</b> Martin Luther King Jr. Building, UC Berkeley & David Brower Center, Berkeley<br>
  <b>Open to:</b> Researchers, engineers, and industry leaders<br>
</p>
<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">
<h1 style="text-align: left; font-size: 25px; color: #FCB515;">CONFERENCE</h1>
<p style="text-align: left; font-size: 1rem;">
  Please visit the <b><a href="https://www.sbc-conference.com/2025/">SBC'25 official page</a></b> for details on call for papers, registration, accommodations, affiliated workshops, and more. <br>
  For inquiries, please email <a href="mailto:ic3.sbc25@rdi.berkeley.edu">rdi_events@berkeley.edu</a>.
</p>
<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">
<h1 style="text-align: left; font-size: 25px; color: #FCB515;">SPONSORSHIP</h1>
<p style="text-align: left; font-size: 1rem;">
  If you are interested in sponsoring this year's edition, please find more information <b><a href="https://docs.google.com/presentation/d/1IpCWgga-yASLNdEWhXXdWhjZoGedcWzH/edit?usp=sharing&ouid=106127745259358737285&rtpof=true&sd=true">here</a></b> along with the sponsorship interest form and details. For other requests, please feel free to reach out to the Berkeley RDI team at <a href="mailto:rdi_events@berkeley.edu">rdi_events@berkeley.edu</a>, and we will get back to you soon.
</p>
<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">
<h1 style="text-align: left; font-size: 25px; color: #FCB515;">AFFILIATED WORKSHOPS</h1>
<p style="text-align: left; font-size: 1rem; margin-bottom: 1rem;">
  A number of workshops will take place before and after the main conference on August 3 & 7, 2025, on the UC Berkeley campus. Check below for details on location, topics, and more.
</p>
<ul style="text-align: left; list-style-type: disc; font-size: 1rem;">
  <li><a href="https://daoscience.org/17008a10d56a80b29d4bd2d27d71c18d" style="color: #0066CC; font-weight: bold;">SBC DAO Workshop.</a> Sunday, Aug. 3, 2025.</li>
  <li><a href="https://rdi.berkeley.edu/events/decentralizationaisummit25" style="color: #0066CC; font-weight: bold;">Summit on Decentralization and AI.</a> Sunday, August 3, 2025.</li>
  <li><a href="https://lu.ma/BASS25" style="color: #0066CC; font-weight: bold;">Blockchain Application Stanford Summit (BASS) at SBC 2025.</a> Sunday, August 3, 2025.</li>
  <li><a href="https://tselab.stanford.edu/workshop-sbc25/" style="color: #0066CC; font-weight: bold;">Science and Engineering of Consensus.</a> Sunday, August 3, 2025.</li>
  <li><a href="https://collective.flashbots.net/t/the-mev-workshop-at-the-science-of-blockchain-conference-2025-mev-sbc-25/4880" style="color: #0066CC; font-weight: bold;">MEV-SBC 25.</a> Thursday, August 7, 2025.</li>
</ul>

<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: left; font-size: 25px; color: #FCB515;">SPONSORS</h1>
<div style="display: grid; grid-template-columns: repeat(12, 1fr);">
  <a class="sponsors" href="https://world.org/" target="_blank" style="grid-row: 1; grid-column: 1 / span 4;">
    <img src="assets/sponsors/eworld.png" alt="eworld">
  </a>
  <a class="sponsors" href="https://www.circle.com/" target="_blank" style="grid-row: 1; grid-column: 5 / span 4;">
    <img src="assets/sponsors/circle.png" alt="Circle">
  </a>
  <a class="sponsors" href="https://chain.link/" target="_blank" style="grid-row: 1; grid-column: 9 / span 4;">
    <img src="assets/sponsors/chainlink.png" alt="Chainlink">
  </a>
  <a class="sponsors" href="https://ripple.com/" target="_blank" style="grid-row: 2; grid-column: 1 / span 3;">
    <img src="assets/sponsors/ripple.png" alt="Ripple">
  </a>
  <a class="sponsors" href="https://starkware.co/" target="_blank" style="grid-row: 2; grid-column: 4 / span 3;">
    <img src="assets/sponsors/starkware.png" alt="Starkware">
  </a>
  <a class="sponsors" href="https://saharaai.com/" target="_blank" style="grid-row: 2; grid-column: 7 / span 3;">
    <img src="assets/sponsors/saharaai.png" alt="Sahara AI">
  </a>
  <a class="sponsors" href="https://www.openmind.org/" target="_blank" style="grid-row: 2; grid-column: 10 / span 3;">
    <img src="assets/sponsors/openmind.png" alt="OpenMind">
  </a>
  <a class="sponsors" href="https://aleo.org/" target="_blank" style="grid-row: 3; grid-column: 1 / span 2; height: 100%">
    <img src="assets/sponsors/aleo.png" alt="Aleo">
  </a>
  <a class="sponsors" href="https://esp.ethereum.foundation/" target="_blank" style="grid-row: 3; grid-column: 3 / span 3;">
    <img src="assets/sponsors/esp.png" alt="Ethereum Ecosystem Support Program">
  </a>
  <a class="sponsors" href="https://polkadot.com/" target="_blank" style="grid-row: 3; grid-column: 6 / span 3;">
    <img src="assets/sponsors/polkadot.png" alt="Polka Dot">
  </a>
  <a class="sponsors" href="https://fractalbitcoin.io/" target="_blank" style="grid-row: 3; grid-column: 9 / span 3;">
    <img src="assets/sponsors/fractal.png" alt="Fractal Bitcoin">
  </a>
  <a class="sponsors" href="https://tselab.stanford.edu/" target="_blank" style="grid-row: 3; grid-column: 12 / span 1; height: 100%">
    <img src="assets/sponsors/stanford.png" alt="Stanford">
  </a>
</div>

<br>
<br>

<p style="text-align: left; font-size: 1rem; margin-top: 1rem;">
  If you have any questions, please email <a href="mailto:rdi_events@berkeley.edu">rdi_events@berkeley.edu</a>, and we will get back to you soon.
</p>
<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">
<p style="text-align: left; font-size: 1rem;">
  Looking forward to seeing you there! <br><br>
</p>
