---
layout: page
full-width: true
cover-img: "assets/img/SBC25-Banner.png"
---

<!-- Homepage HTML -->

<style>
  .banner {
    position: relative;
    text-align: left;
    margin-top: -70px;
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
  }

  .center-container {
        display: flex;
        justify-content: left;
    }

  .styled-button {
        font-family: Inter, sans-serif;
        font-size: 16px;
        padding: 15px 24px;
        width: 250px;
        background-color: #ffbc03e4;
        color: black;
        border: solid 0.5px #30303060;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
  .styled-button:hover {
      background-color: #dcbf72;
  }

  .button-row-container {
    display: flex;
    justify-content: left;
  }
</style>

<div class="banner-img">
  <img src="assets/img/SBC25-Banner.png" alt="Banner Image" class="banner-img">
</div>

<p style="text-align: left; font-size: 1.4rem; margin-top: 20px; margin-bottom: 20px;">
  Announcing the <b>Science of Blockchain Conference (SBC) 2025</b>, co-organized by 
  <b><a href="https://www.initc3.org/">IC3</a></b>, 
  <b><a href="https://cbr.stanford.edu">Stanford Center for Blockchain Research</a></b>, and 
  <b><a href="https://rdi.berkeley.edu/">UC Berkeley RDI</a></b>.
</p>

<p style="text-align: left; font-size: 1.4rem; margin-top: 20px; margin-bottom: 20px;">
  The conference focuses on technical innovations in the blockchain ecosystem, bringing together researchers and practitioners working in the space.
</p>

<p style="text-align: left; font-size: 1.4rem; margin-top: 20px; margin-bottom: 20px;">
  <b>When:</b> August 3-7, 2025<br>
  <b>Where:</b> Martin Luther King Jr. Building, UC Berkeley & David Brower Center, Berkeley<br>
  <b>Open to:</b> Researchers, engineers, and industry leaders<br>
  <b>Visit:</b> <a href="https://www.sbc-conference.com/2025/">SBC'25 Official Page</a>
</p>

<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: left; font-size: 30px; color: #fcb515;">CONFERENCE</h1>
<p style="text-align: left; font-size: 1.4rem;">
  Please visit the <b><a href="https://www.sbc-conference.com/2025/">SBC'25 official page</a></b> for details on call for papers, registration, accommodations, affiliated workshops, and more. <br>
  For inquiries email <a href="mailto:ic3.sbc25@rdi.berkeley.edu">ic3.sbc25@rdi.berkeley.edu</a>.
</p>

<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: left; font-size: 30px; color: #fcb515;">SPONSORSHIP</h1>
<p style="text-align: left; font-size: 1.2rem;">
  If you are interested in sponsoring this year's edition, please find more information <a href="https://docs.google.com/presentation/d/1IpCWgga-yASLNdEWhXXdWhjZoGedcWzH/edit?usp=sharing&ouid=106127745259358737285&rtpof=true&sd=true">here</a> along with the sponsorship interest form and details. For other requests, please feel free to reach out to the Berkeley RDI team at <a href="mailto:rdi_events@berkeley.edu">rdi_events@berkeley.edu</a>, and we will get back to you soon.
</p>

<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: left; font-size: 30px; color: #fcb515;">AFFILIATED WORKSHOPS</h1>
<p style="text-align: left; font-size: 1.4rem;">
  Workshops will be hosted on August 3 and August 7, 2025, at UC Berkeley and the nearby David Brower Center.
</p>
<ul style="text-align: left; list-style-type: disc; font-size:1.4rem;">
  <li>StarkWare Scholar Summit #2</li>
  <li>Blockchain Application Stanford Summit (BASS) at SBC 2025</li>
  <li>SBC DAO Workshop 2025 (Metagov & Decentralization Research Center)</li>
  <li>Impact Summit (Metagov)</li>
  <li>Science and Engineering of Consensus (Tse Lab Stanford)</li>
  <li>SMEV-SBC - Flashbots</li>
</ul>

<hr style="border: 0; height: 2px; background-color: #002147; margin-top: 40px; margin-bottom: 40px;">

<p style="text-align: left; font-size: 1.4rem;">
  Looking forward to seeing you there! <br><br>
  * This event is not affiliated with, endorsed by, or sponsored by Columbia University.
</p>
