---
layout: page
full-width: true
cover-img: "assets/img/SBC25-Banner.png"
---

<!-- Homepage HTML -->

<style>
  .banner {
    position: relative;
    text-align: center;
    margin-top: -70px;
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
  }

  .center-container {
        display: flex;
        justify-content: center;
    }

  .styled-button {
        font-family: Inter, sans-serif;
        font-size: 20px;
        padding: 25px 32px;
        width: 300px;
        background-color: #ffbc03e4;
        color: black;
        border: solid 0.5px #30303060;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
  .styled-button:hover {
      background-color: #dcbf72;
  }

  .button-row-container {
    display: flex;
    justify-content: center;
  }
</style>

<div class="banner-img">
  <img src="assets/img/SBC25-Banner.png" alt="Banner Image" class="banner-img">
</div>

<p style="text-align: left; font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">
  Announcing the <b>Science of Blockchain Conference (SBC) 2025</b>, co-organized by 
  <b><a href="https://www.initc3.org/">IC3</a></b>, 
  <b><a href="https://cbr.stanford.edu">Stanford Center for Blockchain Research</a></b>, and 
  <b><a href="https://rdi.berkeley.edu/">UC Berkeley RDI</a></b>.
</p>

<p style="text-align: left; font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">
  The conference focuses on technical innovations in the blockchain ecosystem, bringing together researchers and practitioners working in the space.
</p>

<p style="text-align: left; font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">
  📅 <b>When:</b> August 3-7, 2025<br>
  📍 <b>Where:</b> Martin Luther King Jr. Building, UC Berkeley & David Brower Center, Berkeley<br>
  🎓 <b>Open to:</b> Researchers, engineers, and industry leaders<br>
  🔗 <b>Visit:</b> <a href="https://www.sbc-conference.com/2025/">SBC'25 Official Page</a>
</p>

<div class="center-container">
  <button class="styled-button" onclick="window.open('https://www.sbc-conference.com/2025/registration', '_blank')">Register Today!</button>
</div>

<style>
  .prize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sponsor-container {
    text-align: left;
    padding-top: 20px;
  }
</style>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; color: #fcb515;">SPONSORSHIP</h1>
<p style="text-align: center; font-size: 1.5rem;">
  Interested in sponsoring SBC25? <br>
  <b><a href="#">Click here</a></b> for details on sponsorship opportunities.
</p>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<h1 style="text-align: center; font-size: 36px; color: #fcb515;">AFFILIATED WORKSHOPS</h1>
<p style="text-align: center; font-size: 1.5rem;">
  Workshops will be hosted on August 3 and August 7, 2025, at UC Berkeley and the nearby David Brower Center.
</p>
<ul style="text-align: center; list-style-type: none;">
  <li>🎓 StarkWare Scholar Summit #2</li>
  <li>📜 Blockchain Application Stanford Summit (BASS) at SBC 2025</li>
  <li>🏛 SBC DAO Workshop 2025 (Metagov & Decentralization Research Center)</li>
  <li>🌍 Impact Summit (Metagov)</li>
  <li>🛠 Science and Engineering of Consensus (Tse Lab Stanford)</li>
  <li>💡 SMEV-SBC - Flashbots</li>
</ul>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<p style="text-align: center; font-size: 1rem;">
  Looking forward to seeing you there! <br><br>
  *This event is not affiliated with, endorsed by, or sponsored by Columbia University.
</p>

